<div class="form-container">
    <h2 mat-dialog-title>Criar Novo Pedido</h2>

    <form>
        <mat-form-field appearance="fill">
            <mat-label>Nome do Cliente</mat-label>
            <input matInput [(ngModel)]="nomeCliente" name="nomeCliente" required minlength="3">
            <mat-error *ngIf="nomeCliente && nomeCliente.length < 3">O nome deve ter pelo menos 3 caracteres.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Email do Cliente</mat-label>
            <input matInput [(ngModel)]="emailCliente" name="emailCliente" required email>
            <mat-error *ngIf="emailCliente && !isEmailValid()">O email deve ser válido.</mat-error>
        </mat-form-field>

        <mat-checkbox [(ngModel)]="pago" name="pago">Pago</mat-checkbox>

        <div>
            <!-- Seleção de produtos -->
            <mat-form-field appearance="fill" style="width:80%;">
                <mat-label>Selecione um produto</mat-label>
                <mat-select [(ngModel)]="selectedProdutoId" name="produto">
                    <mat-option *ngFor="let produto of produtos" [value]="produto.id">
                        {{ produto.nomeProduto }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- Botão para adicionar produto -->
            <button mat-icon-button color="primary" [disabled]="!selectedProdutoId" (click)="addProduto()">
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <!-- Tabela de Itens -->
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="nomeProduto">
                <mat-header-cell *matHeaderCellDef> Nome do Produto </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.nomeProduto}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="valorUnitario">
                <mat-header-cell *matHeaderCellDef> Valor Unitário </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.valorUnitario | currency}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="quantidade">
                <mat-header-cell *matHeaderCellDef> Quantidade </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.quantidade}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="acoes">
                <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
                <mat-cell *matCellDef="let item; let i = index">
                    <button mat-icon-button (click)="removeProduto(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <div mat-dialog-actions>
            <button mat-button (click)="onNoClick()">Cancelar</button>
            <button mat-raised-button color="primary" (click)="onSave()"
                    [disabled]="!isFormValid()">Salvar</button>
        </div>
    </form>
</div>
